# Ignore the following folder(s) and file(s)


# Folder(s)
bin/
change-directory/
exec/
history/
list-dir-content/
obj/
parse-string/
read-string/

# File(s)
debug.cbp
*.depend
*.docx
*.exe
*.layout
*.o
rename.bat
rename.sh


